.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}
.bckimg {
  background-color: #464646;
  background-image: url(./source_3.gif);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: -1;
  filter: blur(4px);
}
@media only screen and (max-width: 520px) {
  .bckimg {
    background-blend-mode: multiply;
    background-size: cover;
  }
}
